<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flex flex-row min-h-screen">
		<%- include('partials/sidenav') %>
		<div x-data="component()">
			<div class="fixed sm:hidden w-full flex items-center justify-between bg-white z-30 py-4 px-5 ">
				<a href="/home">
					<img class="w-10" src="./img/logo_dark.png">
				</a>
				<a href="#" @click="open()">
					<img class="w-5" src="./img/hamburguer_dark.png">
				</a>
			</div>
			<div x-show="mobileNav"
				 x-transition:enter="transition-opacity ease-in duration-300"
            	 x-transition:enter-start="opacity-0"
            	 x-transition:enter-end="opacity-70"
            	 x-transition:leave="transition ease-in-out duration-300"
            	 x-transition:leave-start="opacity-70"
                 x-transition:leave-end="opacity-0"
                 @click="closeMobileNav()" 
                 class="h-full w-full filter blur-3xl opacity-70 bg-gray-800 fixed z-40"></div>
			<div x-show="mobileNav"
				 x-transition:enter="transition-transform transition-opacity ease-out duration-300"
            	 x-transition:enter-start="opacity-0 transform translate-x-20"
            	 x-transition:enter-end="opacity-100 transform translate-y-0"
            	 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-end="opacity-0 transform translate-x-20" 
                 class="h-full bg-white w-60 fixed top-0 -right-0 z-50 p-4">
				<div class="flex justify-between items-center">
					<p class="text-xl font-semibold">Menu</p>
					<img @click="mobileNav = false" class="w-2 cursor-pointer" src="./img/arrow_right.png">
				</div>
				<div>
					<ul class="mt-4">
						<li><a href="/" class="p-3 block rounded hover:bg-gray-200 transition duration-300">Home</a></li>
						<li><a href="/" class="p-3 block rounded hover:bg-gray-200 transition duration-300">Tasks</a></li>
						<li><a href="/" class="p-3 block rounded hover:bg-gray-200 transition duration-300">Habits</a></li>
						<li><a href="/rituals" class="p-3 block rounded hover:bg-gray-200 transition duration-300">Rituals</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="sm:ml-20 px-10 py-24 sm:py-14 w-full">
			<h1 class="text-3xl text-dark-gray font-semibold">Habits</h1>
			<!-- <p class="text-lg text-gray-400 mb-5"><%= new Date().toDateString(); %></p> -->
			<p class="text-lg text-gray-400 mb-5"><%= moment(new Date()).format("DD/MM/YYYY"); %></p>
			<!-- <p class="text-lg text-gray-400 mb-5"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: '2-digit', day: '2-digit'}).format(new Date()); %></p> -->
			<div class="max-w-xl">
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 1</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 2</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 3</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 4</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Rage</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Miotherapy</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Eye alignment</p>
		            </label>
				</div>
			</div>
			<!-- <div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-gray-100 rounded-lg p-5">
						<label class="inline-flex items-center cursor-pointer">
			                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
			                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Health</p>
			            </label>
					</div>
				</div>
			</div> -->
		</div>
	</div>

	<script>
		function component() {
			return {
				mobileNav: false,
				closeMobileNav() {
					this.mobileNav = false;
				},
				open() {
					this.mobileNav = true;
				}
			}
		}
	</script>
	<script type="text/javascript">
		addBtn = document.getElementById('addBtn');
		addTask = document.getElementById('addTask');
		addBtn.addEventListener('click', () => {
			if (addTask.value == '') {
				addTask.focus();
			}
			else {
				// Add task
			}
		})
	</script>
</body>
</html>
