<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flex flex-row min-h-screen">
		<%- include('partials/sidenav') %>
		<%- include('partials/mobilenav') %>
		<div class="main sm:ml-20 px-10 py-24 sm:py-14 w-full">
			<h1 class="text-3xl text-dark-gray font-semibold">Flier</h1>
			<p class="text-lg text-gray-400">Dashboard</p>
			<div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-white shadow-lg rounded-lg p-5">
						<p class="ml-3 text-medium-gray font-semibold text-gray-900 cursor-pointer">You have 7/9 Rituals completed today</p>
					</div>
				</div>
			</div>
			<div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-white shadow-lg rounded-lg p-5">
						<p class="ml-3 text-medium-gray font-semibold text-gray-900 cursor-pointer">You have 4/6 Habits completed today</p>
					</div>
				</div>
			</div>
			<div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-white shadow-lg rounded-lg p-5">
						<p class="ml-3 text-medium-gray font-semibold text-gray-900 cursor-pointer">You have 3 Tasks for today</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
