<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flexw-screen">
		<section class="py-20 bg-gray-100 min-h-screen w-full">
		    <div class="text-center">
		        <div class="bg-white shadow-lg rounded-lg max-w-md px-4 py-16 mx-auto">
		            <img src="./img/logo_dark.png" class="w-12 mx-auto">
		            <div class="max-w-xs mx-auto">
		                <h2 class="font-bold text-gray-800 mt-8 text-3xl">Register</h2>
		                <form action="" method="POST">
			                <input type="text" name="name" class="w-full leading-4 mt-10 text-gray-500 px-4 py-3 rounded border-2 border-gray-200" placeholder="Your Name">
			                <input type="email" name="email" class="w-full leading-4 mt-2 text-gray-500 px-4 py-3 rounded border-2 border-gray-200" placeholder="Your Email">
			                <input type="password" name="pwd" class="w-full leading-4 mt-2 text-gray-500 px-4 py-3 rounded border-2 border-gray-200" placeholder="Password">
			                <input type="password" name="pwd_repeat" class="w-full leading-4 mt-2 text-gray-500 px-4 py-3 rounded border-2 border-gray-200" placeholder="Repeat Password">
			                <div class="mt-8">
		                		<button type="submit" class="w-full uppercase bg-gray-900 hover:bg-gray-800 transition duration-300 px-24 py-4 text-sm font-semibold text-white rounded tracking-wider inline-block">Sign up</button>
			                </div>
		                </form>
		                <a href="/login" class="mt-8 inline-block text-gray-400 hover:text-gray-700 transition duration-300">Already have an account? Login here.</a>
		            </div>
		        </div>

		    </div>
		</section>
	</div>
</body>
</html>