<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flex flex-row min-h-screen">
		<%- include('partials/sidenav') %>
		<%- include('partials/mobilenav') %>
		<div class="sm:ml-20 px-10 py-24 sm:py-14 w-full">
			<h1 class="text-3xl text-dark-gray font-semibold">Rituals</h1>
			<p class="text-lg text-gray-400 mb-5"><%= moment(new Date()).format("DD/MM/YYYY"); %></p>
			<div class="max-w-xl">
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-health cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Health</p>
		            </label>
		            <img src="./img/health.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-emotions cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Emotions</p>
		            </label>
		            <img src="./img/emotions.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-relationships cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Relationships</p>
		            </label>
		            <img src="./img/relationships.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-lifestyle cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Lifestyle</p>
		            </label>
		            <img src="./img/lifestyle.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-growth cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Growth</p>
		            </label>
		            <img src="./img/growth.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-mission cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Mission</p>
		            </label>
		            <img src="./img/mission.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-prosperity cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Prosperity</p>
		            </label>
		            <img src="./img/prosperity.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-contribution cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Contribution</p>
		            </label>
		            <img src="./img/contribution.png">
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-spirituality cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Spirituality</p>
		            </label>
		            <img src="./img/spirituality.png">
				</div>
			</div>
			<!-- <div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-gray-100 rounded-lg p-5">
						<label class="inline-flex items-center cursor-pointer">
			                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
			                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Health</p>
			            </label>
					</div>
				</div>
			</div> -->
		</div>

		<!-- <div id="addBtn" class="flex items-center justify-center bg-dark-gray w-10 h-10 cursor-pointer rounded text-white text-xl font-bold fixed bottom-5 right-5 shadow-2xl z-30">
			<img src="./img/calendar_white.png" class="w-5">
		</div> -->
		<%- include('partials/calendar') %>
	</div>
</body>
</html>
