<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flex flex-row min-h-screen">
		<%- include('partials/sidenav') %>
		<%- include('partials/mobilenav') %>
		<div class="main sm:ml-20 px-10 py-24 sm:py-14 w-full">
			<h1 class="text-3xl text-dark-gray font-semibold">Tasks</h1>
			<p class="text-lg text-gray-400">Inbox</p>
			<div class="pt-4 px-4 w-full max-w-xl">

				<div>
					<li class="relative list-none" x-data="{selected:null}">
						<button type="button" class="w-full focus:outline-none" @click="selected !== 1 ? selected = 1 : selected = null">
							<div class="task w-full flex py-4">
								<label class="inline-flex items-center cursor-pointer">
					                <img src="./img/arrow_right.png" class="arrow-right h-4" data-status="open" x-bind:style="selected == 1 ? 'transform: rotate(90deg)' : ''">
					                <p class="ml-3 text-dark-gray font-semibold text-gray-800 cursor-pointer">Prosperity</p>
					            </label>
							</div>
						</button>
						<div class="border-b-2 ml-6 w-full border-line-gray"></div>

						<div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
							<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
								<label class="inline-flex items-center cursor-pointer">
					                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
					                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
					            </label>
							</div>
							<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
								<label class="inline-flex items-center cursor-pointer">
					                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
					                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
					            </label>
							</div>
							<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
								<label class="inline-flex items-center cursor-pointer">
					                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer" checked>
					                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
					            </label>
							</div>
						</div>
					</li>
					<li class="relative list-none" x-data="{selected:null}">
						<button type="button" class="w-full focus:outline-none" @click="selected !== 1 ? selected = 1 : selected = null">
							<div class="task w-full flex py-4">
								<label class="inline-flex items-center cursor-pointer">
					                <img src="./img/arrow_right.png" class="arrow-right h-4" data-status="open" x-bind:style="selected == 1 ? 'transform: rotate(90deg)' : ''">
					                <p class="ml-3 text-dark-gray font-semibold text-gray-800 cursor-pointer">Portfolio</p>
					            </label>
							</div>
						</button>
						<div class="border-b-2 ml-6 w-full border-line-gray"></div>

						<div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
							<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
								<label class="inline-flex items-center cursor-pointer">
					                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
					                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
					            </label>
							</div>
							<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
								<label class="inline-flex items-center cursor-pointer">
					                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
					                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
					            </label>
							</div>
						</div>
					</li>
					<div class="task w-full flex border-b border-gray-300 py-4">
						<label class="inline-flex items-center cursor-pointer">
			                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
			                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
			            </label>
					</div>
					<div class="task w-full flex border-b border-gray-300 py-4">
						<label class="inline-flex items-center cursor-pointer">
			                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
			                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
			            </label>
					</div>
					<div class="task w-full flex py-4">
						<label class="inline-flex items-center cursor-pointer">
			                <span class="text-light-gray font-semibold cursor-pointer">+</span>
			                <form action="/api/v1/tasks/" method="POST">
			                	<input type="text" name="new_task" id="addTask" placeholder="Add task" class="ml-3 text-medium-gray placeholder-light-gray focus:outline-none font-semibold cursor-pointer">
			                	<input type="submit" value="Create">
			                </form>
			                <!-- <p class="ml-3 text-light-gray font-semibold cursor-pointer" contenteditable="true">Add task</p> -->
			            </label>
					</div>
				</div>

				<!-- <div>
					<div class="task w-full flex py-4">
						<label class="inline-flex items-center mt-3 cursor-pointer">
			                <img src="./img/arrow_down.png" class="w-4" data-status="open">
			                <p class="ml-3 text-dark-gray font-semibold text-gray-800 cursor-pointer">Portfolio</p>
			            </label>
					</div>
					<div class="border-b-2 ml-6 w-full border-line-gray"></div>
					<div>
						<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
							<label class="inline-flex items-center mt-3 cursor-pointer">
				                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer" checked>
				                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Ligar BPI</p>
				            </label>
						</div>
						<div class="task w-full flex border-b border-gray-300 py-4 ml-6">
							<label class="inline-flex items-center mt-3 cursor-pointer">
				                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
				                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Finish task</p>
				            </label>
						</div>
						<div class="task w-full flex py-4">
							<label class="inline-flex items-center mt-3 cursor-pointer">
				                <span class="text-light-gray font-semibold cursor-pointer">+</span>
				                <p class="ml-3 text-light-gray font-semibold cursor-pointer">Add task</p>
				            </label>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div id="addBtn" class="flex items-center justify-center bg-dark-gray w-10 h-10 cursor-pointer rounded text-white text-xl font-bold fixed bottom-5 right-5 shadow-2xl z-30">+</div>
	</div>
	<script type="text/javascript">
		addBtn = document.getElementById('addBtn');
		addTask = document.getElementById('addTask');
		addBtn.addEventListener('click', () => {
			if (addTask.value == '') {
				addTask.focus();
			}
			else {
				// Add task
			}
		})
	</script>
</body>
</html>
