<div class="sidenav w-18 hidden sm:block fixed top-0 left-0 h-screen">
	<div class="flex items-center justify-center px-3 pt-3 w-full h-14">
		<a href="/home">
			<img class="w-12" src="./img/logo_dark.png">
		</a>
	</div>
	<nav class="w-full flex justify-center px-2 mt-6">
		<ul>
			<li>
				<a href="/" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-300 <% if(pageTitle == 'Home') { %> bg-gray-200 <% } %>">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
							<path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
						</svg>
					</span>
				</a>
			</li>
			<li class="mt-3">
				<a href="/" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200 <% if(pageTitle == 'Tasks') { %> bg-gray-200 <% } %>">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
							<path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
						</svg>
					</span>
				</a>
			</li>
			<!--<li class="mt-3">
				<a href="/rituals" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200 <% if(pageTitle == 'Rituals') { %> bg-gray-200 <% } %>">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 512.019 512.019" xml:space="preserve" fill="currentColor" stroke="currentColor" class="h-6 w-6">
								<path d="M447.28,304.8l-0.365-5.01c-5.865-76.354-41.417-124.219-72.781-166.438c-29.042-39.094-54.125-72.854-54.125-122.667
									c0-4-2.24-7.656-5.792-9.49c-3.563-1.844-7.844-1.542-11.083,0.813c-47.104,33.708-86.406,90.521-100.135,144.729
									c-9.531,37.74-10.792,80.167-10.969,108.188c-43.5-9.292-53.354-74.365-53.458-75.073c-0.49-3.375-2.552-6.313-5.552-7.917
									c-3.031-1.583-6.594-1.698-9.667-0.177c-2.281,1.104-55.99,28.396-59.115,137.375c-0.219,3.625-0.229,7.25-0.229,10.885
									c0,105.865,86.135,192,192,192s192-86.135,192-192C448.009,314.706,447.645,309.748,447.28,304.8z M256.009,490.685
									c-35.292,0-64-30.583-64-68.177c0-1.281-0.01-2.573,0.083-4.156c0.427-15.854,3.438-26.677,6.74-33.875
									c6.188,13.292,17.26,25.51,35.219,25.51c5.896,0,10.667-4.771,10.667-10.667c0-15.188,0.313-32.708,4.094-48.521
									c3.365-14.031,11.406-28.938,21.594-40.896c4.531,15.521,13.365,28.083,21.99,40.344c12.344,17.542,25.104,35.677,27.344,66.604
									c0.135,1.833,0.271,3.677,0.271,5.656C320.009,460.102,291.301,490.685,256.009,490.685z M323.421,476.748
									c11.072-15.099,17.922-33.763,17.922-54.24c0-2.51-0.156-4.844-0.469-9.208c-2.531-34.823-17.667-56.344-31.031-75.333
									c-11.385-16.167-21.208-30.135-21.208-49.948c0-4.052-2.292-7.75-5.917-9.552c-3.604-1.813-7.958-1.406-11.177,1.042
									c-20.458,15.458-37.521,41.479-43.479,66.323c-3.042,12.74-4.104,26.521-4.479,37.854c-7.396-7.958-9.688-22.708-9.708-22.906
									c-0.479-3.427-2.583-6.417-5.656-8.01c-3.052-1.583-6.708-1.625-9.781-0.042c-2.688,1.375-26.302,14.917-27.656,64.729
									c-0.094,1.688-0.104,3.375-0.104,5.052c0,20.477,6.85,39.141,17.922,54.24c-60.664-26.195-103.255-86.563-103.255-156.729
									c0-3.198-0.01-6.385,0.208-9.938c1.833-63.938,22.292-95.646,35.646-109.635c9.312,33.333,33.708,76.906,81.479,76.906
									c5.896,0,10.667-4.771,10.667-10.667c0-35.698,0.802-76.948,10.344-114.719c10.833-42.792,40.51-89,76.333-120.281
									c5.948,45.688,30.833,79.188,56.99,114.385c31.094,41.854,63.24,85.135,68.625,155.219l0.365,5.104
									c0.333,4.438,0.677,8.865,0.677,13.625C426.676,390.185,384.085,450.553,323.421,476.748z"/>
						</svg>
					</span>
				</a>
			</li>-->
			<li class="mt-3">
				<a href="/habits" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200 <% if(pageTitle == 'Habits') { %> bg-gray-200 <% } %>">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg height="512" viewBox="0 0 511.992 511.992" width="512" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6"><g><path d="m410.644 270.052c-6.078-14.081-14.396-30.199-23.201-47.264-17.176-33.286-36.644-71.012-46.89-107.352-11.091-39.339-9.117-69.462 6.036-92.089 3.439-5.136 3.376-11.857-.161-16.927s-9.82-7.452-15.83-5.998c-2.838.687-69.885 17.436-102.295 71.671-10.847 18.15-16.506 38.182-16.954 59.87-9.668-7.302-20.467-13.585-30.777-15.597-4.737-.923-9.628.487-13.144 3.793-3.517 3.305-5.228 8.099-4.6 12.884 5.27 40.124-12.771 66.742-33.659 97.564-9.804 14.466-19.942 29.425-28.379 46.746-22.282 45.742-18.662 94.895 10.759 146.094 31.988 55.665 90.801 88.546 152.374 88.546 14.846 0 29.86-1.913 44.689-5.879 1.141-.305 2.287-.602 3.416-.946 43.205-13.197 77.667-43.517 97.037-85.375 21.454-46.357 22.044-102.335 1.579-149.741zm-200.55 190.52c-12.467-13.983-18.357-32.967-16.159-52.085 2.227-19.373 19.276-41.739 35.762-63.369 16.922-22.201 35.328-46.347 40.925-71.857 15.969 20.516 30.49 56.981 10.57 115.083-1.671 4.872-.725 10.261 2.506 14.272 3.23 4.012 8.292 6.086 13.41 5.493 5.338-.619 13.1-2.981 20.469-7.939 2.95 20.219-.506 40.767-10.235 56.163-7.163 11.335-20.964 24.776-46.311 25.626-4.868-.098-9.711-.443-14.513-1.029-14.11-2.528-26.764-9.524-36.424-20.358zm171.747-53.379c-9.716 20.995-24.073 38.4-41.853 51.161 12.555-29.681 11.527-66.677-3.535-98.368-2.794-5.879-9.058-9.285-15.518-8.431-.3.04-.598.088-.893.146 3.939-39.383-6.844-67.863-18.487-86.407-17.406-27.72-40.573-39.792-41.55-40.293-5.637-2.885-12.48-1.918-17.097 2.415-4.618 4.333-6.018 11.1-3.497 16.909 10.662 24.573-10.825 52.763-33.573 82.608-18.945 24.856-38.536 50.558-41.706 78.128-1.594 13.863-.219 27.702 3.842 40.624-11.869-10.423-22.204-22.899-30.413-37.185-24.504-42.642-27.709-81.243-9.8-118.009 7.5-15.398 17.028-29.457 26.243-43.053 18.156-26.79 36.816-54.325 39.451-91.424 9.738 7.457 19.855 17.508 26.459 25.309 4.521 5.355 12.149 6.866 18.37 3.637s9.378-10.335 7.601-17.115c-8.04-30.695-5.323-57.68 8.078-80.206 13.21-22.205 34.675-36.853 52.559-45.88-5.404 23.447-3.668 50.52 5.158 81.821 11.069 39.259 31.275 78.418 49.104 112.967 8.562 16.593 16.649 32.265 22.318 45.397 17.134 39.692 16.663 86.515-1.261 125.249z"/></g></svg>
					</span>
				</a>
			</li>
			<li class="mt-3">
				<a href="/rituals" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200 <% if(pageTitle == 'Rituals') { %> bg-gray-200 <% } %>">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg fill="currentColor" class="h-6 w-6" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m126 166v46.079c-10.061 3.504-18.346 10.873-23.003 20.835l-19.762 42.372c-12.745 27.348-6.59 59.665 15.319 80.416l57.446 54.391v91.907c0 5.523 4.478 10 10 10h45c5.522 0 10-4.477 10-10s-4.478-10-10-10h-35v-86.21c0-2.747-1.13-5.373-3.125-7.261l-60.568-57.349c-15.65-14.823-20.048-37.909-10.944-57.443l19.756-42.361c4.795-10.256 16.778-14.262 26.585-9.683l98.786 46.06c-13.845 18.697-39.428 25.756-61.313 15.555l-27.19-12.68c-5.006-2.336-10.956-.168-13.289 4.836-2.335 5.005-.169 10.955 4.836 13.29l27.191 12.681c11.146 5.196 23.669 7.509 36.603 6.182 21.101 22.797 32.672 52.257 32.672 83.503 0 5.523 4.478 10 10 10s10-4.477 10-10c0-32.832-10.991-63.967-31.218-89.223 14.893-6.625 27.557-18.434 34.97-34.33.004-.008.006-.016.01-.024 4.967 2.215 10.458 3.457 16.238 3.457 8.928 0 17.182-2.942 23.845-7.906 6.422 13.528 20.212 22.906 36.155 22.906 6.159 0 11.996-1.402 17.212-3.899-2.758 17.952-7.226 34.321-11.858 51.261-7.548 27.605-15.354 56.15-15.354 92.638v56h-35c-5.522 0-10 4.477-10 10s4.478 10 10 10h45c5.522 0 10-4.477 10-10v-66c0-33.802 7.114-59.819 14.646-87.362 7.548-27.605 15.354-56.15 15.354-92.638v-60c0-22.056-17.944-40-40-40-8.928 0-17.182 2.942-23.845 7.906-6.422-13.528-20.212-22.906-36.155-22.906-8.928 0-17.182 2.942-23.845 7.906-6.422-13.528-20.212-22.906-36.155-22.906-11.938 0-22.665 5.264-30 13.585-7.335-8.321-18.062-13.585-30-13.585-22.056 0-40 17.944-40 40zm200 30c0-11.028 8.972-20 20-20s20 8.972 20 20v60c0 11.028-8.972 20-20 20s-20-8.972-20-20zm-60-15c0-11.028 8.972-20 20-20s20 8.972 20 20v60c0 11.028-8.972 20-20 20s-20-8.972-20-20zm-60-15c0-11.028 8.972-20 20-20s20 8.972 20 20v75c0 5.696 1.205 11.114 3.361 16.024l-43.361-20.217zm-60 0c0-11.028 8.972-20 20-20s20 8.972 20 20v61.482l-29.839-13.912c-3.248-1.517-6.667-2.577-10.161-3.177z"/><path d="m266 46v-36c0-5.523-4.478-10-10-10s-10 4.477-10 10v36c0 5.523 4.478 10 10 10s10-4.477 10-10z"/><path d="m170.999 78.781c4.783-2.761 6.423-8.876 3.662-13.66l-15-25.99c-2.761-4.784-8.877-6.424-13.66-3.663s-6.423 8.876-3.662 13.66l15 25.99c2.752 4.769 8.864 6.432 13.66 3.663z"/><path d="m90.119 127.339-25.99-15c-4.788-2.762-10.901-1.121-13.66 3.663-2.761 4.783-1.121 10.899 3.662 13.66l25.99 15c4.763 2.748 10.888 1.142 13.66-3.663 2.761-4.784 1.121-10.899-3.662-13.66z"/><path d="m354.661 75.119 15-25.99c2.761-4.783 1.121-10.899-3.662-13.66-4.787-2.762-10.899-1.12-13.66 3.663l-15 25.99c-2.761 4.783-1.121 10.899 3.662 13.66 4.764 2.747 10.887 1.141 13.66-3.663z"/><path d="m431.879 144.661 25.99-15c4.783-2.761 6.423-8.876 3.662-13.66-2.762-4.783-8.876-6.425-13.66-3.663l-25.99 15c-4.783 2.761-6.423 8.876-3.662 13.66 2.752 4.769 8.864 6.432 13.66 3.663z"/><circle cx="256" cy="502" r="10"/></g></svg>
					</span>
				</a>
			</li>
			<!--<li class="mt-3">
				<a href="#" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
							<path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
						</svg>
					</span>
				</a>
			</li>
			<li class="mt-3">
				<a href="#" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200">
					<span class="flex items-center justify-center text-lg text-gray-400 relative">
						<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
							<path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
						</svg>
					</span>
				</a>
			</li>
			<li class="mt-3">
				<a href="#" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200">
					<span class="flex items-center justify-center text-gray-400 relative">
							<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
								<path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
							</svg>
							<span style="font-size: 9px;" class="absolute flex items-center justify-center bg-gray-900 text-white w-3 h-3 rounded-full -right-1 top-3">1</span>
					</span>
				</a>
			</li>
			<li class="mt-3">
				<a href="#" class="flex h-12 px-3 rounded-lg text-gray-400 hover:bg-gray-200">
					<span class="flex items-center justify-center text-lg text-gray-400">
						<svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
							<path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
							<path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
						</svg>
					</span>
				</a>
			</li>-->
		</ul>
	  <!-- <a class="block w-full h- p-2 mt-2 text-gray-900 bg-gray-100 rounded-lg hover:text-gray-900 hover:bg-gray-200" href="#">
	  	<img class="w-6" src="./img/home.png">
	  </a> -->
	  <!-- <a class="block p-2 mt-2 text-gray-900 bg-gray-100 rounded-lg hover:text-gray-900 hover:bg-gray-200" href="#">
	  	<img class="w-6" src="./img/home.png">
	  </a> -->
	</nav>
</div>